@CHARSET "ISO-8859-1";

body {
	padding-top: 70px;
	background-color: #7D9C9F;
}

.navbar-inverse {
	background-color: #B1B1B1;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
	color: #AD235E;
}

.error {
	color: red;
}

h2 {
	color: #AD235E;
}

.sitename {
	font-family: 'Anton', sans-serif;
	color: #AD235E;
}

.label-shortfield, .label-longfield {
	font-weight: bold;
}

#maindiv {
	background-color: #DFEFF0;
	padding: 20px;
}